yang-gang-app/node_modules/**/*
yang-gang-app/.expo/*
yang-gang-app/npm-debug.*
yang-gang-app/*.jks
yang-gang-app/*.p12
yang-gang-app/*.key
yang-gang-app/*.mobileprovision
yang-gang-app/*.orig.*
yang-gang-app/web-build/
yang-gang-app/web-report/
